@model IEnumerable<DailyReportSystem.Models.FollowsCreateViewModel>

@{
    ViewBag.Title = "フォロー登録";
}

<h2>ユーザ一覧　登録</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th></th>
    </tr>

    @for (var i = 0; i < Model.Count(); i++)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.ElementAt(i).EmployeeName)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @using (Html.BeginForm())
                                {
                                    if (Model.ElementAt(i).FollowFlg == DailyReportSystem.Models.FollowStatus.UnFollow)
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(modelItem => modelItem.ElementAt(i).EmployeeName)
                                    @Html.HiddenFor(modelItem => modelItem.ElementAt(i).FollowId)
                                    <input type="submit" value="フォロー" class="btn" style="background :#4dbaaa;color:white" />
                                }

                            }
                        </div>
                    </div>
                </td>
            </tr>
    }
</table>

<div>
    @Html.ActionLink("フォロー一覧に戻る", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
