@model IEnumerable<DailyReportSystem.Models.FollowsDeleteViewModel>

@{
    ViewBag.Title = "フォロー解除";
}

<h2>ユーザ一覧　解除</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th></th>
    </tr>

    @for (var i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ElementAt(i).EmployeeName)
            </td>
            <td>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @using (Html.BeginForm("Delete","Follows"))
                        {
                            if (Model.ElementAt(i).FollowFlg == DailyReportSystem.Models.FollowStatus.Followed)
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(modelItem => modelItem.ElementAt(i).EmployeeId)
                                @Html.HiddenFor(modelItem => modelItem.ElementAt(i).EmployeeName)
                                @Html.HiddenFor(modelItem => modelItem.ElementAt(i).FollowId)
                                <input type="submit" value="フォロー解除" class="btn" style="background :#7f4c3a;color:white" />
                            }

                        }
                    </div>
                </div>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("フォロー一覧に戻る", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
