@model DailyReportSystem.Models.ReportsDetailsViewModel

@{
    ViewBag.Title = "日報詳細";
}

<h2>日報　詳細ページ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.ReportDate)*@
            @Convert.ToString(string.Format("{0:yyyy/MM/dd}", Model.ReportDate))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.WorkTime)*@
            @Convert.ToString(string.Format("{0:HH:mm}", Model.WorkTime))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveTime)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.LeaveTime)*@
            @Convert.ToString(string.Format("{0:HH:mm}", Model.LeaveTime))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CliantCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CliantCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CliantPIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CliantPIC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CliantStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CliantStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepting)
        </dt>

        @if (Model.AcceptFlg == DailyReportSystem.Models.AcceptStatus.UnAuthorize)
        {
            <dd style="color:red">否認</dd>
        }
        else
        {
            <dd style="color:blue">承認</dd>
        }




        @if (Model.LikeFlg == DailyReportSystem.Models.LikeStatus.UnLike)
        {
            <dd style="margin:1% 0 0 13%">

                @using (Html.BeginForm("Create", "Likes"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" value="いいね" class="btn" style="background :#4dbaaa;color:white" />
                }
            </dd>
        }
        else
        {
            <dd style="margin:1% 0 0 15%">

                @using (Html.BeginForm("Delete", "Likes"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" value="いいね解除" class="btn" style="background:#7f4c3a;color:white" />
                }
            </dd>
        }
    </dl>
    <hr>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        @using (Html.BeginForm("Accept", "Reports"))
        {
            if (Model.AcceptFlg == DailyReportSystem.Models.AcceptStatus.UnAuthorize)
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <textarea rows="4" cols="25" style="margin:1% 0 0 9%" name="Comment"></textarea>
                <br>
                <input type="submit" name="Accepting" value="否認" class="btn" style="background:#d92546;color:white;margin:1% 0 0 10%" />
                <input type="submit" name="Accepting" value="承認" class="btn" style="background:#276cf5;color:white;margin:1% 0 0 5%" />
            }
            else
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <textarea rows="4" cols="25" style="margin:1% 0 0 9%" name="comment"></textarea>
                <br>
                <input type="submit" value="否認" class="btn" style="background:#d92546;color:white;margin:1% 0 0 15%" />
            }
        }

</div>

@if (Model.isReportCreater) { 
<p>@Html.ActionLink("この日報を編集する", "Edit", new { id = Model.Id })</p>
}
<p>
    @Html.ActionLink("一覧へ戻る", "Index")
</p>
